In [7]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [8]:
df = pd.read_csv("data\\titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
df.drop(['PassengerId', 'Name', 'Cabin', "Ticket"], axis=1., inplace=True)
df.head(1)

   Survived  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
0         0       3  male  22.0      1      0  7.25        S

In [11]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [12]:
df.dropna(subset=['Embarked', 'Age'], inplace= True)
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [14]:
dummies = pd.get_dummies(df.Sex)
dummies2 = pd.get_dummies(df.Embarked)

new_df = pd.concat([df, dummies, dummies2], axis='columns')

new_df.drop(['Sex', 'Embarked'], axis='columns', inplace=True)

new_df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
0,0,3,22.0,1,0,7.2500,False,True,False,False,True
1,1,1,38.0,1,0,71.2833,True,False,True,False,False
2,1,3,26.0,0,0,7.9250,True,False,False,False,True
3,1,1,35.0,1,0,53.1000,True,False,False,False,True
4,0,3,35.0,0,0,8.0500,False,True,False,False,True

In [17]:
X = new_df[new_df.columns.difference(['Survived'])]
y = new_df['Survived']

clasificador = RandomForestClassifier()
clasificador.fit(X, y)

RandomForestClassifier()

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     712 non-null    float64
 1   C       712 non-null    bool
 2   Fare    712 non-null    float64
 3   Parch   712 non-null    int64
 4   Pclass  712 non-null    int64
 5   Q       712 non-null    bool
 6   S       712 non-null    bool
 7   SibSp   712 non-null    int64
 8   female  712 non-null    bool
 9   male    712 non-null    bool
dtypes: bool(5), float64(2), int64(3)
memory usage: 36.9 KB

In [18]:
clasificador

RandomForestClassifier()

In [20]:
import joblib
joblib.dump(clasificador, 'classifier.pkl')

['classifier.pkl']